.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .gameArea {
        display: grid;
    }
}

.shipColumn {
    background-color: black;
}

.emptyColumn {
    background-color: pink;
}
